:root {
  --2xl: 1440px;
  --xl: 1280px;
  --lg: 1024px;
  --md: 768px;
  --sm: 640px;
  --p-lg: 32px;
  --p-md: 24px;

  // Color
  --primary: #0d1b2a;
  --secondary: #1b263b;
  --deep-blue: #415a77;
  --red: #f21b3f;
  --light: #778da9;
  --white: #e0e1dd;
}
